@media screen and (min-width: 768px) {
    
    main > .box {
        margin: auto;
        width: 768px;
    }
}
@media screen and (min-width: 992px) {
    * {
        padding: 0%;
        
    }
    html, body {
        width: 100vw;
        height: 100vh;
    }
    body {
        margin: 0;
        
    }
    main {
        margin: 0%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    main > div.box {
    
        width: 320px;
        height: 480px;
        margin: 0%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        
    }
    div.box > img {
        width: 100px;
        margin: 35px 0px 0px 30px;
        padding: 0;
        
    }
    div.box > p {
        margin-bottom: 0px;
    }
    .botao {
        padding-top: 20px 0px;
    }
    #box-laranja {
        
        border-radius: 10px 0px 0px 10px;
    }
    #box-azul {
        box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.637);
    }
    #box-escuro {
        
        border-radius: 0px 10px 10px 0px;
        box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.637);
    }
    
}